<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="dserver" providerName="System.Data.SqlClient" connectionString="(localdb)\MSSQLLocalDB" />
    <add name="PortalUrl" providerName="System.Data.SqlClient" connectionString="http://www.usastreams.info/" />
    <add name="empresa" providerName="System.Data.SqlClient" connectionString="usastreams.com streaming experts" />

    <add name="footer" providerName="System.Data.SqlClient" connectionString="Streaming Control Panel 2012. (Ver 7.3)" />
    <add name="PortalTitle" providerName="System.Data.SqlClient" connectionString="Streaming Control Panel" />

    <add name="email_enable" providerName="System.Data.SqlClient" connectionString="0" />
    <add name="email_onlogin" providerName="System.Data.SqlClient" connectionString="1" />
    <add name="email_server" providerName="System.Data.SqlClient" connectionString="mail.jlgsolera.com" />
    <add name="email_from" providerName="System.Data.SqlClient" connectionString="info@usastreams.com" />
    <add name="email_user" providerName="System.Data.SqlClient" connectionString="sales@jlgsolera.com" />
    <add name="email_password" providerName="System.Data.SqlClient" connectionString="S@lmo19" />

    <add name="storage_enable" providerName="System.Data.SqlClient" connectionString="1" />
    <!--
  Esta linea ya no se usa

  -->
    <add name="storage_IPPORT" providerName="System.Data.SqlClient" connectionString="storage.usastreams.com:82" />
    <add name="storage_ip" providerName="System.Data.SqlClient" connectionString="storage.usastreams.com" />
    <add name="storage_ruta" providerName="System.Data.SqlClient" connectionString="c:\storage\" />
    <add name="storage_horasHasta0" providerName="System.Data.SqlClient" connectionString="8" />

  </connectionStrings>
  
  
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>